spring:
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
      FAIL_ON_EMPTY_BEANS: false
    default-property-inclusion: non_empty
    date-format: com.fasterxml.jackson.databind.util.StdDateFormat

  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/parking
    username: postgres
    password: pass

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
    properties:
      hibernate:
        format_sql: true
        show-sql: true
        use_sql_comments: true
        temp.use_jdbc_metadata_defaults: false

logging:
  level:
    ROOT: INFO
    ru.demi.parkinglot: DEBUG
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE

parking:
  amountOfSlots: 500
  init: true